<!DOCTYPE html>
<html lang="ko" xmlns:th="http://www.thymeleaf.org">
	<head>
		<meta charset="UTF-8">
		<title>유저 정보 조회</title>
		<link rel="stylesheet" type="text/css" href="css/styles.css">
	</head>
	<body>
		<h1>all user info</h1>
		<table border="1">
			<thead>
				<tr>
					<th>ID</th>
					<th>Name</th>
					<th>E-mail</th>
					<th>Birthdate</th>
					<th>modify</th>
					<th>delete</th>
				</tr>
			</thead>
			<tbody>
				<tr th:each="u : ${users}">
					<td th:text="${u.mno}"><a th:href="@{user-info/(id={u.mno})}"></a></td>
					<td th:text="${u.mname}"></td>
					<td th:text="${u.memail}"></td>
					<td th:text="${u.mbirth}"></td>
					
					<td><a th:href="@{'/api/user/update/' + ${u.mno}}">click</a></td>
					<td><a th:href="@{'/user-delete' + ${u.mno}}">click</a></td>
				</tr>
			</tbody>
		</table>
	</body>
</html>